<div class="w-full py-6 px-3">
  <div class="bg-white overflow-hidden">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <div class="h-80 overflow-hidden relative">
            <div class="absolute left-0 top-0 px-2.5 py-1 border-red-500 rounded-full z-100 border-2">
                <span class="text-red-500 font-bold">On Sale!</span>
            </div>
          {{ product | image_url: width: 400 | image_tag: class: "w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform" }}
        </div>
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </a>

    <div class="flex flex-col p-4">
      <span class="text-sm text-gray-400">{{ product.vendor }}</span>

      <a href="{{ product.url }}" class="text-gray-700 uppercase font-medium">{{ product.title }}</a>

      <p class="text-gray-500">{{ product.price | money }}</p>
    </div>
  </div>
</div>
