<div class="w-full py-6 px-3">
  <div class="bg-white overflow-hidden">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <div class="h-80 overflow-hidden relative">
          {% if product.compare_at_price > product.price %}
            {% render 'sale-badge' %}
          {% endif %}

          {{
            product
            | image_url: width: 400
            | image_tag:
              class: 'w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform'
          }}
        </div>
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </a>

    <div class="flex flex-col p-4">
      <span class="text-sm text-gray-400">{{ product.vendor }}</span>

      <a href="{{ product.url }}" class="text-gray-700 uppercase font-medium">{{ product.title }}</a>

      {% if product.compare_at_price > product.price %}
        <div class="flex space-x-2">
          <p class="text-gray-700 line-through">{{ product.compare_at_price | money }}</p>
          <p class="text-red-500">{{ product.price | money }}</p>
        </div>
      {% else %}
        <p class="text-gray-700">{{ product.price | money }}</p>
      {% endif %}
    </div>
  </div>
</div>
