{% assign product = closest.product %}
<div id="variant-selects-{{ section.id }}-{{ product.id }}" data-section="{{ section.id }}" class="mt-4">
  {% comment %}
    {% if product.variants %}
      <div class="space-x-2 flex mb-4">
        {% for variant in product.variants %}
          {% assign color = value %}
          <button
            type="button"
            style="background-color: {{ value |  downcase }}"
            class="swatch ring ring-transparent ring-offset-2 rounded-full w-5 h-5 bg-red-500 hover:ring-blue-500"
            data-variant-index="{{ forloop.index0 }}"
            data-value="{{ value | escape }}"
          ></button>
        {% endfor %}
      </div>
    {% endif %}
  {% endcomment %}

  {% for option in product.options_with_values %}
    {% comment %} <h1>{{ option.values | map: 'swatch' | map: 'color' | join: '; ' }}</h1> {% endcomment %}
    {% assign variant_type = option.name | downcase %}
    {% if variant_type == 'color' %}
      <div class="space-x-2.5 flex mb-4 swatch-group">
        {% for value in option.values %}
          {% assign swatch_color = value.swatch.color %}

          {% case block.settings.variant_swatch_shape %}
            {% when 'swatch--circle' %}
              {% assign shape_class = 'rounded-full' %}
            {% when 'swatch--square' %}
              {% assign shape_class = 'rounded-none' %}
            {% else %}
              {% assign shape_class = '' %}
          {% endcase %}
          <button
            type="button"
            style="background-color: {{ swatch_color |  default: "#ccc" }}"
            class="product-swatch swatch ring-2 ring-transparent ring-offset-2 {{ shape_class }} w-5 h-5 bg-red-500 hover:ring-blue-500 [&.active]:ring-blue-500"
            data-variant-index="{{ forloop.index0 }}"
            data-variant-id="{{ value.variant.id }}"
            data-value="{{ value | escape }}"
            data-product-id="{{ product.id }}"
            data-is-selected="false"
          ></button>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% comment %}
  onclick per swatch, get data-variant-index, then target the product-images, hide the main image, show the variant image, if clicked again, return to normal
{% endcomment %}

{% javascript %}
  document.querySelectorAll('.product-swatch').forEach((swatch) => {
    swatch.addEventListener('click', function (event) {
      const swatch = event.target;
      const swatch_group = swatch.closest('.swatch-group');
      const variant_id = swatch.dataset.variantId;

      //swatch_group.querySelectorAll('.product-swatch').forEach((el) => (el.dataset.isSelected = false));
      //swatch.dataset.isSelected = true;

      const product_card = swatch.closest('.product-card');
      if (!product_card) return;

      select_variant_image(swatch, swatch_group, product_card, variant_id);

      select_variant_price(swatch, swatch_group, product_card, variant_id);

      if (swatch.dataset.isSelected === 'true') {
        swatch.dataset.isSelected = 'false';
      } else {
        swatch_group.querySelectorAll('.product-swatch').forEach((el) => (el.dataset.isSelected = 'false'));
        swatch.dataset.isSelected = 'true';
      }
    });

    function select_variant_image(swatch, swatch_group, product_card, variant_id) {
      if (!swatch) return;

      product_card
        .querySelectorAll('.product-image-gallery .variant-images')
        .forEach((el) => el.classList.add('invisible'));
      if (swatch.dataset.isSelected === 'true') {
        swatch_group.querySelectorAll('.product-swatch').forEach((el) => el.classList.remove('active'));
        product_card.querySelector('.product-image-gallery .featured-image').classList.remove('invisible');
      } else {
        swatch_group.querySelectorAll('.product-swatch').forEach((el) => el.classList.remove('active'));
        swatch.classList.add('active');
        product_card.querySelector('.product-image-gallery .featured-image').classList.add('invisible');
        product_card
          .querySelector(`.product-image-gallery [data-variant-id="${variant_id}"]`)
          .classList.toggle('invisible');
      }
    }

    function select_variant_price(swatch, swatch_group, product_card, variant_id) {
      if (!swatch) return;

      const price_el = product_card.querySelector('.product-price-group');
      if (!price_el) return;

      if (swatch.dataset.isSelected === true) {
        variant_id = product_card.dataset.defaultVariantId;
      }

      const variantPrice = JSON.parse(
        document.getElementById(`product-price-${product_card.dataset.productId}-json`).textContent
      );
      const matchingVariant = variantPrice.find((item) => item.id == variant_id);
      price_el.classList.remove('is-discounted');
      product_card.querySelector('.product-badge.on-sale').classList.add('hidden');
      if (matchingVariant) {
        if (matchingVariant.discount_percent) {
          price_el.classList.add('is-discounted');
          console.log(product_card.querySelector('.product-badge.on-sale'));
          product_card.querySelector('.product-badge.on-sale').classList.remove('hidden');
        }
        price_el.querySelector('.current-price').textContent = matchingVariant.price;
        price_el.querySelector('.before-price').textContent = matchingVariant.compare_at_price;
        price_el.querySelector('.discount').textContent = matchingVariant.discount_percent;
      }
    }
  });
{% endjavascript %}

{% schema %}
{
  "name": "Product Color Selector",
  "blocks": [],
  "settings": [
    {
      "type": "select",
      "id": "variant_swatch_shape",
      "label": "Variant Swatch Shape",
      "options": [
        {
          "value": "swatch--circle",
          "label": "Circle"
        },
        {
          "value": "swatch--square",
          "label": "Square"
        }
      ],
      "default": "swatch--circle"
    }
  ],
  "presets": [{ "name": "Product Color Selector" }]
}
{% endschema %}
