{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<div class="sm:px-8 py-4" section-id="{{ section.id }}">
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {% paginate collection.products by section.settings.page_limit %}
        {% for product in collection.products %}
          <div
            class="w-full py-6 px-3 product-card"
            data-page="{{ paginate.current_page }}"
            data-product-id="{{ product.id }}"
            id="{{ section.id }}-{{ product.id }}"
          >
            {% content_for 'block', type: '_product-card', id: 'product-card', closest.product: product %}
          </div>
        {% endfor %}
      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
